<!DOCTYPE html>
<html lang="pt-br" ng-app="webnautas">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Webnautas - Admin</title>
  
  <!-- Styles -->
  <link rel="stylesheet" href="./lib/spectre/spectre.min.css">
  <link rel="stylesheet" href="./lib/spectre/spectre-icons.min.css">
  <link rel="stylesheet" href="./css/main.css">

  <!-- Angular -->
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/config/webnautasAPIConfig.js"></script>
  <script src="./js/controllers/usersCtrl.js"></script>
  <script src="./js/services/usersAPIService.js"></script>
  <script src="./js/filters/ellipsisFilter.js"></script>
  <script src="./js/directives/uiPhoneDirective.js"></script>
  <script src="./js/directives/uiDateDirective.js"></script>
</head>
<body ng-controller="usersCtrl">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-3 mt-40">
        <div ng-include="'view/header.html'"></div>
      </div>
      <div class="column col-9 mt-40">
        <div class="navbar">
          <div class="navbar-section">
            <h1 class="m-0 lh-1 h2">Usuários</h1>
          </div>
          <div class="navbar-section">
            <div class="input-group input-inline">
              <input class="form-input mr-2" type="text" ng-model="searchUser" placeholder="Buscar...">
              <button class="btn btn-primary" ng-click="setShowForm()">Novo Usuário</button>
              <button class="btn btn-error btn-action ml-2" ng-show="isSelected(users)" ng-click="removeUsers(users)">
                <i class="icon icon-delete"></i>
              </button>
            </div>
          </div>
        </div>
        <div ng-show="loading" class="loading loading-lg mt-80"></div>
        <table ng-hide="loading" class="table mt-40">
          <thead>
            <tr>
              <th></th>
              <th><a ng-click="orderBy('name')" class="text-dark">Nome</a></th>
              <th>Telefone</th>
              <th>Endereço</th>
              <th>Data de Adimissão</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="showForm" ng-keydown="addUser($event, user)" ng-include="'view/user/form.html'"></div>
            <tr ng-repeat="user in users | filter: {name: searchUser} | orderBy: order || 'name':direction" ng-class="{active: user.selected, has-error: error}" ng-keydown="editUser($event, user)" ng-dblclick="setShowForm(user)" ng-include="showUser(user)"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>