<td>
  <button type="button" class="btn btn-error btn-action btn-sm" data-dismiss="alert" aria-label="Close" ng-click="setShowForm(course)">
    <i class="icon icon-cross"></i>
  </button>
</td>
<td><input type="text" class="form-input input-sm" name="title" ng-model="course.title" placeholder="Python para fodinhas"></td>
<td><input type="text" class="form-input input-sm" name="description" ng-model="course.description" placeholder="Python só pra quem se garante."></td>
<td><input type="text" class="form-input input-sm" name="duration" ng-model="course.duration" placeholder="20 horas"></td>
<td><input type="text" class="form-input input-sm" name="price" ng-model="course.price" ui-money placeholder="200,00"></td>