<section ng-controller="usersCtrl">
  <ui-navbar title="Alunos" ng-model="searchUser">
    <div class="input-group input-inline">
      <input class="form-input mr-2" type="text" ng-model="search" placeholder="Buscar...">
      <button class="btn btn-primary" ng-click="setShowForm()">Novo Usuário</button>
      <button class="btn btn-error btn-action ml-2" ng-show="isSelected(users)" ng-click="removeUsers(users)">
        <i class="icon icon-delete"></i>
      </button>
    </div>
  </ui-navbar>
  <div ng-show="loading" class="loading loading-lg mt-80"></div>
  <table ng-hide="loading" class="table mt-40 table-hover">
    <thead>
      <tr>
        <th></th>
        <th><a ng-click="orderBy('name')" class="text-dark">Nome</a></th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Data de Adimissão</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="showForm" ng-keydown="addUser($event, user)" ng-include="'view/user/form.html'"></tr>
      <tr ng-repeat="user in users | filter: {name: searchUser} | orderBy: order || 'name':direction"
        ng-class="{active: user.selected, has-error: error}" ng-keydown="editUser($event, user)"
        ng-dblclick="setShowForm(user)" ng-include="showView(user, 'user')"></tr>
    </tbody>
  </table>
</section>