<td>
  <button type="button" class="btn btn-error btn-action btn-sm" data-dismiss="alert" aria-label="Close" ng-click="setShowForm(user)">
    <i class="icon icon-cross"></i>
  </button>
</td>
<td ng-class="{'has-error': error}"><input type="text" class="form-input input-sm" name="name" ng-model="user.name" placeholder="Jack Master"></td>
<td ng-class="{'has-error': error}"><input type="tel" class="form-input input-sm" name="phone" ng-model="user.phone" ui-phone placeholder="(DDD)00000-0000"></td>
<td ng-class="{'has-error': error}"><input type="text" class="form-input input-sm" name="address" ng-model="user.address" placeholder="Rua dos Bobos, número 0"></td>
<td ng-class="{'has-error': error}"><input type="text" class="form-input input-sm" name="admission" ng-model="user.admission" ui-date placeholder="02/12/2020"></td>